* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #d9dcd6;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 36px;
}



.header .navbar ul li {
  display: inline-block;
  margin: 25px;
  font-size: 24px;
  color: white;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.project {
  border: 2px solid #212529;
  border-radius: 4px;
}

.info {
  display: flex;
  justify-content: center;
}


@media (max-width: 1000px) {
  .main {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .main {
    grid-template-columns: repeat(1, 223px);
  }
}

.img {
  width: 225px;
}